body {
	margin: 0;
	padding: 0;

	font-family: "microsoft yahei";

	min-height: 37.5rem;

	-webkit-tap-highlight-color: transparent;

}

.iconfont {
	font-size: 2rem;
	margin-right: 0.8rem;
	position: relative;
	top: 0.35rem;
}


.title {
	position: fixed;
	left: 2rem;
	top: 2rem;
	z-index: 5;

}

.title-item {
	margin-top: 3rem;
}

.title-item a {
	color: #aaa;
	padding: 2rem 0;
	outline: none;
	cursor: pointer;
}

.title-item a:hover {
	color: black;
}


.container {
	width: 96%;
	margin: 0 auto;
	text-align: center;
	margin-top: 3rem;
}

.content {
	padding: 2rem 4% 0 12%;
	text-align: left;
	position: relative;
}

.home {
	overflow: hidden;
}

.slider {
	position: absolute;
	z-index: 3;
	opacity: 0;
	height: 100%;
	display: block;
}

.slider:hover {
	opacity: 1;
}

.left-slider {
	left: 0;
	width: 45%;
	background: rgba(255, 255, 255, 0.15);
}

.right-slider {
	right: 10%;
	width: 45%;
	background: rgba(255, 255, 255, 0.15);
}

.content-item {
	display: none;
}

.content-item-active {
	display: block;
}

.home-img {
	width: 90%;
	/*z-index: 1;*/
	/*display: none;*/
	position: absolute;
	top: 0;
	left: 0;

	transition: 0.8s;
	opacity: 0;
	visibility: hidden;
	z-index: 0;
}



.img-cur {
	width: 90%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	transition: 0.8s;
	visibility: visible;
	z-index: 2;
}


.masonary {
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	height: auto;
}

@media only screen and (min-width: 500px) {
	.masonary {
		flex-direction: row;
	}
}

.clumn {
	margin-left: 0.5rem;
	display: flex;
	flex-flow: column wrap;
	width: 100%;
}

@media only screen and (max-width: 500px) {
	.clumn {
		width: 100%;
		max-width: 95%;
		margin: auto;
	}
}

.clumn>.item>.item__content {
	margin-bottom: 0.5rem;
	text-align: center;
}

.line {
	height: 0;
	border-top: 1px solid lightgrey;
	text-align: center;
	margin: 3rem auto 2rem auto;
	width: 80%;
	color: lightgray;
}

.text {
	position: relative;
	top: -0.6rem;
	background-color: #fff;
	padding: 0 1rem;
	font-size: 0.8rem;
}

.pot-hr {
	margin: 2rem auto 3rem auto;
	background-color: #eee;
	height: 1px;
	width: 100%;
	border: 0;
}

.kaomoji-item {
	line-height: 2rem;
	text-align: center;
	padding: 0.4rem 0;
	margin: 0.1rem 0.1rem;
	cursor: pointer;
	color: #999;
	border: 1px #eee solid;
}

.kaomoji-item:hover{
	color: #333;
	transform: scale(1.5);
	}



.parent-tip {
	position: absolute;
	left: 0;
	right: 0;
	top: 50px;
	z-index: 30;
	margin: 0 auto;
	width: 100px;
	text-align: center;

}

.global-msg-tip {
	background-color: lightskyblue;
	border-radius: 6px;
	font-size: 0.9rem;
	padding: 0.8rem 1rem;
	color: white;
}

.tip-rest {
	opacity: 0;
}

.tip-appear {
	opacity: 1;
}

.tip-disappear {
	opacity: 0;
	transition: opacity 1s;
}


.git {
	color: skyblue;
}

.git div {
	padding-bottom: 6rem;
	letter-spacing: 2rem;
}

.git-str {
	position: absolute;
	top: 14rem;
	left: 39%;
	z-index: 10;
	margin: 0 auto;
	width: 12%;
	opacity: 0.8;
}
