body {
	margin: 0;
	padding: 0;

	font-family: "microsoft yahei";


	-webkit-tap-highlight-color: transparent;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.iconfont {
	font-size: 1.8rem;
	margin-right: 0.8rem;
	position: relative;
	top: 0.35rem;
}


.title {
	position: fixed;
	left: 2rem;
	top: 2rem;
	z-index: 5;

}

.title-fold{
	display: none;
}

.title-item, .title-item-m {
	margin-top: 3rem;
}

.title-item-m {
	padding-left: 3rem;
}

.title-item a,.title-item-m a {
	color: #aaa;
	padding: 2rem 0;
	outline: none;
	cursor: pointer;
}

.title-item a:hover {
	color: #000000;
}

.title-content{
	font-size: 0.9rem;
	letter-spacing: 0.1rem;
}



.container {
	width: 96%;
	margin: 0 auto;
	text-align: center;
	padding-top: 3rem;
}

.content {
	padding-top: 2rem;
	padding-left: 16rem;
	text-align: left;
	position: relative;
}

.home {
	overflow: hidden;
}

.slider {
	position: absolute;
	z-index: 3;
	opacity: 0;
	height: 100%;
	display: block;
}

.slider:hover {
	opacity: 1;
}

.left-slider {
	left: 0%;
	width: 30%;
	background: rgba(255, 255, 255, 0.15);
	border-radius: 1.875rem 0 0 1.875rem;
}

.right-slider {
	right: 40%;
	width: 30%;
	background: rgba(255, 255, 255, 0.15);
	border-radius: 0  1.875rem 1.875rem 0;
}

.content-item {
	display: none;
}

.content-item-active {
	display: block;
}

#home{
	position: relative;
}

.home-img, .img-cur{
	width: 60%;
	position: absolute;
	top: 0;
	left: 0%;
	transition: 0.8s;
	border-radius: 1.875rem;
	box-shadow: 10px 10px 30px lightgray;
}

.home-img {
	opacity: 0;
	visibility: hidden;
	z-index: 0;
}



.img-cur {
	opacity: 1;
	visibility: visible;
	z-index: 2;
}
.main{
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: row;
	height: auto;
}

.masonary {
	width: 50%;
	display: flex;
	flex-direction: row;
	height: auto;
}


.clumn {
	margin-left: 1.5rem;
	display: flex;
	flex-flow: column wrap;
	width: 100%;
}


.clumn>.item>.item__content {
	margin-bottom: 1.8rem;
	text-align: center;
}

.item__content img{
	border-radius: 0.5rem;
}

.line {
	height: 0;
	border-top: 1px solid lightgrey;
	text-align: center;
	margin: 2rem auto 1rem auto;
	width: 80%;
	color: lightgray;
}

.text {
	position: relative;
	top: -0.7rem;
	background-color: #fff;
	padding: 0 1rem;
	font-size: 0.8rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/* 
.pot-hr {
	margin: 1rem auto 2rem auto;
	background-color: #eee;
	height: 1px;
	width: 100%;
	border: 0;
} */

.kao-line{
	width: 10%;float: left;
}

.kaomoji-item {
	line-height: 2rem;
	text-align: center;
	padding: 0.4rem 0;
	margin: 0.1rem 0.1rem;
	cursor: pointer;
	color: #999;
	/* border: 2px #eee solid; */
	border: 0;outline: none;
	background-color: rgba(255,255,255,1);
}

.kaomoji-item:hover{
	color: #333;
	transform: scale(1.5);
	transition: all 0.005s; 
	border: 2px lightskyblue solid;
	border-radius: 0.5rem;
	}



.parent-tip {
	position: fixed;
	left: 0;
	right: 0;
	top: 50px;
	z-index: 30;
	margin: 0 auto;
	width: 100px;
	text-align: center;

}

.global-msg-tip {
	background-color: lightskyblue;
	border-radius: 6px;
	font-size: 0.9rem;
	padding: 0.8rem 1rem;
	color: white;
}

.tip-rest {
	opacity: 0;
}

.tip-appear {
	opacity: 1;
}

.tip-disappear {
	opacity: 0;
	transition: opacity 1s;
}


.git {
	color: skyblue;
}

.git div {
	padding-bottom: 6rem;
	letter-spacing: 2rem;
}

.git-str {
	position: absolute;
	top: 14rem;
	left: 42%;
	z-index: 10;
	margin: 0 auto;
	width: 12%;
	opacity: 0.8;
}
.git-img{
	width: 40%;height: auto;float: left;
}

.github-link{
	float: left;
	margin-left: 10%;
}


.short-line {
    background-color: #555;
    display: block;
    position: absolute;
    width: 30px;
    height: 4px;
    transition: .3s ease;

}

.top {
    top: 4px;
}

.middle {
    top: 14px;
}

.bottom {
    top: 24px;
}


.container-hover .short-line{
	background-color: #888;
}
.container-click .short-line{
	background-color: #888;
}

.container-click .top {
	top:12px;
	width: 30px;
    transform: rotate(45deg);
}
.container-click .middle {
    opacity: 0;
}
.container-click .bottom {
	top:12px;
	width: 30px;
    transform: rotate(-45deg);
}

#loading{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 99;
}

.heart{
	width: 100px;
	height: 100px;
	background-color: #eb3f84;
	top:40%;left:50%;
	transform: translateX(-50%) rotate(45deg);
	position: absolute;
	z-index: 99;
	animation: middle 3s ease infinite;
	transition: all 1s ease;
}


.heart::before{
	content: '';
	width: 100px;
	height: 100px;
	background-color: #eb3f84;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: 0;
	animation: left 3s ease infinite;
	transition: all 1s ease;
}

.heart::after{
	content: '';
	width: 100px;
	height: 100px;
	background-color: #eb3f84;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 50px;
	animation: right 3s ease infinite;
	transition: all 1s ease;
}

@keyframes left{
	0%{
		top:0;
		background-color: #fff;
	}
	20%{
		top:-50px;
	}
	60%{
		background-color: #EB3F84;
	}
	90%{
		top:-50px;
	}
	100%{
		top:0;
		background-color: #fff;
	}
}

@keyframes right{
	0%{
		left:0;
		background-color: #fff;
	}
	20%{
		left:-50px;
	}
	60%{
		background-color: #EB3F84;
	}
	90%{
		left:-50px;
	}
	100%{
		left:0;
		background-color: #fff;
	}
}

@keyframes middle{
	0%{
		transform: rotate(0deg);
		border-radius: 100px;
		background-color: #fff;
	}
	20%{
		transform: rotate(45deg);
		border-radius: 10px;
	}
	
	60%{
		background-color: #EB3F84;
	}
	90%{
		transform: rotate(45deg);
		border-radius: 10px;
	}
	100%{
		transform: rotate(90deg);
		border-radius: 100px;
		background-color: #fff;
	}
}

.contact-text{
	margin: 1rem 0;
		font-size: 1.2rem;
}

.contact-input{
	color: #666;
	padding: 0.6rem 0.6rem;
	font-size: 1rem;
	border: 2px #e2e2e2 solid;
	resize: vertical;
	outline: none;
}
.contact-input:hover{
	border-color: #ccc;
}

.contact-input:focus{
	border-color: skyblue;
	
}



.contact-send-button{
	font-size: 1rem;
	color: white;
	display: inline-block;
	margin-top: 2.5rem;
	outline: none;
	text-decoration: none;
	padding: 0.5rem 2.7rem;
	color: #000000;
	border: 0;
	border-radius: 2rem;
	background-color: lightblue;
	margin-bottom: 2rem;
}

.contact-send-button:hover{
	
	background-color: skyblue;
}


.contact-send-link{
	text-decoration: none;color: skyblue;padding: 0.2rem;font-size: 1.1rem;
}

.contact-send-link:hover{
	color: deepskyblue;
}


#contact{
	font-family: "微软雅黑";
	
	line-height: 2rem;
}

#contact .contact-input{
	font-family: "微软雅黑";
}


.emoji{
	position: fixed;
	background-color: #fff;
	padding: 0 2rem;
	width: 40rem; 
	box-shadow: 0 0 8px 4px #ddd ;
	opacity: 1;
	z-index: 1;
	top: 10%;
	left: 40rem;
	border: 2px solid black;
	border-radius: 2rem;
	
}

.emoji p{
	font-size: 2rem;line-height: 4rem;
}

.emoji p span{
	cursor: pointer;
}

#emojiSwitch{
	padding: 1.5rem;color: rgb(200,200,200);cursor: pointer;
}



























