
@media only screen and (max-width: 1200px) {
	.clumn {
		width: 90%;
		margin-left: 1rem;
	}
	.masonary {
		width: 100%;
		flex-direction: column;
	}
	
	
	
}

@media only screen and (max-width: 800px) {
	
	.main{
		flex-direction: column;
	}
	.clumn {
		width: 90%;
		max-width: 95%;
		margin-left:0;
	}
	.masonary {
		flex-direction: column;
	}
	
	
	
	.title-fold {
		display: block;
		position: relative;
		padding-left: 3rem;
		margin-top: 2rem;
		z-index: 5;
		height: 40px;
		    width: 40px;
		    cursor: pointer;
			background-color: white;
	}
	.title{
		display: none;
	}
	
	.container{
		margin-top: 0;
	}
	
	.content {
		padding-left:2rem;
		text-align: left;
		position: relative;
	}
}